.form {
  display: flex;
  border-top: 1px solid #d3d3d3;
  padding: 5px;
}

.input {
  border: 1px solid #d3d3d3;
  font-size: 15px;
  flex: 0 0 80%;
  padding: 10px 15px 0 15px;
  background-color: #f8f7f7;
  border-radius: 5px;
  margin-right: 5px;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

.sendButton {
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #2979ff;
  cursor: pointer;
  border: none;
  flex: 1;
  border-radius: 5px;
}
