.usersContainer {
  background-color: #fff;
  align-self: flex-start;
  border-radius: 4px 4px;
  margin-left: 25px;
}

.activeUsersHeader {
  display: flex;
  align-items: center;
  background: #2b6bd8;
  border-radius: 4px 4px 0 0;
  height: 60px;
  color: white;
  padding: 0 20px;
}

li {
  list-style: circle;
}

@media (min-width: 320px) and (max-width: 480px) {
  .usersContainer {
    position: absolute;
    right: 65px;
    top: 40px;
    background-color: rgb(241, 241, 241);
    border: 1px solid rgb(223, 221, 221);
  }

  .activeUsersHeader {
    height: 30px;
  }
}
