html,
body {
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
}

#root {
  height: 100vh;
}

* {
  box-sizing: border-box;
}

.joinOuterContainer {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-color: #1a1a1d;
  height: 88.5vh;
}

.joinInnerContainer {
  transform: translateY(-50px);
  width: 20%;
}

.joinInput {
  border-radius: 0;
  padding: 15px 20px;
  border-radius: 5px;
  width: 100%;
}

.sub-heading {
  color: white;
  font-size: 2.5em;
  padding-bottom: 10px;
  border-bottom: 2px solid white;
}

.button {
  font-size: 16px;
  color: #fff !important;
  text-decoration: none;
  background: #2979ff;
  padding: 20px;
  border-radius: 5px;
  display: inline-block;
  border: none;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background: #2b6bd8;
}

.joinInput:focus,
.button:focus {
  outline: 0;
}

.btn-disabled {
  color: #fff !important;
  text-decoration: none;
  background: #2979ff;
  padding: 20px;
  border-radius: 5px;
  display: inline-block;
  border: none;
  margin-top: 20px;
  width: 100%;
  font-size: 16px;
  opacity: 50%;
}

.mt-20 {
  margin-top: 20px;
}

@media (min-width: 320px) and (max-width: 480px) {
  .joinOuterContainer {
    height: 100%;
  }

  .joinInnerContainer {
    width: 90%;
  }
}
